*.synctex
*.log
*.aux
*.auxlock
*.bcf
*.out
*.xml
*.tcp
*.toc
*.tps
report.pdf
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.DS_Store
*.synctex.gz
Thumbs.db
graphics/tikz
cleanup.ps1
*.lox
*.upa
*.upb
*.lof
*.lot
*.tmp
report/.dir-locals.el
TAGS